body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Luckiest Guy'
}

/* styles for the text area for event space */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

/* style for entire time block container */
.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

/* style for hour block */
.hour {
  background-color: #f2cc8f;
  color: #000000;
  border-top: 1px dashed #000000;
  font-weight:bolder;
}

/* color for when event is in the past, present, or future */
.past {
  background-color: #f4f1de;
  color: black;
}

.present {
  background-color: #e07a5f;
  color: black;
}

.future {
  background-color: #81b29a;
  color: black;
}

/* buttons */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #3d405b;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
